.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: pink;
  height: 450px;
  width: 300px;
  overflow-y: scroll;
  position: relative;
  margin: 50px auto;
}

.item{
  background-color: #eee;
  height: 50px;
  padding: 10px;
  text-align: center;
}

.item + .item{
  margin-top: 5px;
}
